doctype html 
html 
        head 
                title about page
        style  
                include ../static/about.css
        nav.navbar
                li.lil #[a(href='/') HOME]
                li.lil #[a(href='/') ABOUT]
                li.lil #[a(href='/') GALLERY]
                li.lil #[a(href='/') REGISTER]
        body 
                section.img
                        p
                                h1.pop  DanceWeebs

                section.motto 

                        div.card 
                                h2 AIM
                                        h3 At Danceweebs we aim to teach dance to students who ages between 6 to 18 to make them compete into 
                                           | national and international competitions . 


                        div.card 
                                h2 ACHIEVEMENTS
                                        h3
                                                ul 
                                                        li  Chicago hip-hop beast winner 2013-14-19.
                                                        li  World's best dancer runner up 2012.
                                                        li  AGT Winner 2021.
                                                        li  WDC runner up 2022.


                        div.card 
                                h2 FUTURE
                                        h3 AIMING FOR 
                                                        li WDC 2032
                                                        li BGT 2023
                                                        li American hip-hop star 2023
                                                        li DZDL 2024












        footer
                ul.ull

                        li.lil For more detail contact : 0122-0122 , 0988-0956.
                        li.lil Mail : danceweeb777@redcliffmail.com.