doctype html
html
        title GALLERY
        style
                include ../static/gallery.css
        nav.navbar
                li #[a(href='/') HOME]
                li #[a(href='/about') ABOUT]
                li #[a(href='/gallery') GALLERY]
                li #[a(href='/register') REGISTER]
        div.imgsec
                div.box














        footer
                ul

                        li For more detail contact : 0122-0122 , 0988-0956.
                        li Mail : danceweeb777@redcliffmail.com.