doctype html 
html 
        head
                style 
                  include ../static/style.css 
        body 
        
           
           nav.navbar 
                li #[a(href='/') HOME]
                li #[a(href='/') ABOUT]
                li #[a(href='/') GALLERY]
                li #[a(href='/') REGISTER]
           
           section.imagesec
               h1.tt WELCOME TO DanceWeebs  
               
           section.articlesec
                  | Hola todos ! Do you want to get some exercise but you rather watch grass grow than go to the gym?!

                  |  Then I want to invite you to come check out our zumba dance classes at our studio here in Miami
                  |  
                  |  Zumba burns a ton of calories, while you’re dancing to your favorite songs, so that you get your sweat on while having a blast!
                  |  
                  |  No more boring cardio machines, or boring weights!
                  |  
                  |  Right now, we’re giving away a FREE class pass so that you can come try out our studio!
                  |  
                  |  You don’t need any dance experience…
                  |  
                  |  We have classes for all levels of dance experience!
                  |  
                  |  We’re located in main st, near the mall… 12 mins away from everything…
                  |  
                  | 
                  |  
                  |  I guarantee you’ll love the classes! and don't forget to checkout our sponsers Dytto the dancing barbie , J-Hope the hip-hop king and Lalisa the queen of kpop.
                  |  
                  |  See you soon!
       
           section.sponsersec
                  
                  div.box.dytto.img
                     
                  div.box.jhope.img
                        
                  div.box.lisa.img
                        
           footer 
                  ul 
                    
                    li For more detail contact : 0122-0122 , 0988-0956.
                    li Mail : danceweeb777@redcliffmail.com.
           script 
                include ../static/index.js